<div class = "outline column-style" data-index="1">

<h1><%= @profile.closet.name %></h1>
<div id = "choices">
<h2>Here are your choices </h2>
</div>
<div id="garment" class= "garment" data-profile-id="<%=params[:id]%>">
<% @profile.closet.garments.each do |garment| %>
<%= button_to "borrow", borrows_path(borrow: { garment_id: garment.id}) %>
<% garment_url = garment.garment_url %>
<% image_url = garment.background_url %>

<img class="draggable" src="<%=image_url%>" data-closet="<%=@closet.name%>" data-garment-id="<%=garment.id%>" />
<%#= image_tag(image_url, class: "draggable", "data-garment-id": garment.id, "data-name": 'hi') %>
<% end %>
</div>

</div>

<div class = "outline column-style" data-index="2">
	<h1> Your Closet </h1>
		<h2> Drag and drop away!</h2>
</div>


<br>
<div id = "back-to-closet">
<%= link_to 'Go Back to Different Closets!', profiles_path %>
</div>
<br>

<div id = "form">
	<%= render 'form' %>
</div>
