<!DOCTYPE html>
<html>
<head>
  <title>Canborrow2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id = "sign in">
	<% if user_signed_in? %>
	  <%= "Welcome, #{current_user.email}." %>
	  <%= link_to "My Profile", profile_path(current_user.profile) %>
		<%= button_to "Sign Out", destroy_user_session_path, :method => "delete" %>
	<% else %>
	  <%= link_to "Log In", new_user_session_path %>
	<% end %>
</div>
	<%= yield %>

</body>
</html>
